$primary: #E85B81;
$primaryButtonHover: #C1305D;
$primaryButtonDisabled: #F3ADBF;
$alternative: #5E48E8;
$alternativeButtonHover: #5028C6;
$alternativeButtonDisabled: #B5B5B5;
$secondary: #B5B5B5;
$secondaryButtonHover: #252525;
$secondaryButtonDisabled: #B5B5B5;
$ternary: #8CE0F3;
$white: #FFFFFF;
$grey-1: #F9F9F9;
$grey-2: #E1E1E1;
$grey-3: #B5B5B5;
$grey-4: #505050;
$grey-5: #252525;


button.btn.btn-primary {
    &.btn__primary {
        background-color: $primary;
        border: none;

        &.disabled {
            background-color: $primaryButtonDisabled;
            border: none;
        }
    }

    &.btn__primary:hover {
        background: $primaryButtonHover;
        border: none;
    }

    &.btn__alternative {
        background-color: $alternative;
        border: none;

        &.disabled {
            opacity: 0.3;
            border: 1px solid $alternativeButtonDisabled;
        }
    }

    &.btn__alternative:hover {
        background: $alternativeButtonHover;
        border: none;
    }

    &.btn__secondary {
        border: 1px solid $secondary;
        background-color: $white;
        color: $grey-5;

        &.disabled {
            border: 1px solid $secondaryButtonDisabled;
            background-color: $white;
            color: $secondaryButtonDisabled;
        }
    }

    &.btn__secondary:hover {
        border: 1px solid $secondaryButtonHover;
    }



    border-radius: 8px;
    padding: 15px 60px;
}


.text {
    &.font__weight-500 {
        &.text__header-1 {
            font-size: 50px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &.text__header-2 {
            font-size: 38px;
        }

        &.text__header-5 {
            font-size: 12px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
        }

        font-weight: 500;
    }

    &.font__weight-400 {
        &.text__header-3 {
            font-size: 28px;
        }

        &.text__header-4 {
            font-size: 21px;
        }

        &.text__paragraph-default {
            font-size: 16px;
        }

        &.text__paragraph-small {
            font-size: 12px;
        }

        font-weight: 400;
    }

    color: $grey-5;
}

.size {
    &.size__width-5 {
        width: 5%;
    }

}