$primary: #E85B81;
$secondary: #5E48E8;
$ternary: #8CE0F3;
$grey-10: #F9F9F9;
$grey-20: #E1E1E1;
$grey-30: #B4B4B4;
$grey-40: #505050;
$grey-50: #252525;


button {
    &.btn {
        &.btn-primary {
            &.primary {
                background-color: #E85B81 !important;
            }
        }

        &.btn-secondary {
            &.secondary {
                background-color: $secondary;
            }
        }

        border: none;
    }
}