$primary: #E85B81;
$secondary: #5E48E8;
$ternary: #8CE0F3;
$grey-1: #F9F9F9;
$grey-2: #E1E1E1;
$grey-3: #B4B4B4;
$grey-4: #505050;
$grey-5: #252525;


button.btn.btn-primary {
    &.btn__color-primary {
        background-color: $primary;
    }

    &.btn__color-secondary {
        background-color: $secondary;
    }

    border: none;
}

.text {
    &.font__weight-500 {
        &.text__header-1 {
            font-size: 50px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &.text__header-2 {
            font-size: 38px;
        }

        &.text__header-5 {
            font-size: 12px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
        }

        font-weight: 500;
    }

    &.font__weight-400 {
        &.text__header-3 {
            font-size: 28px;
        }

        &.text__header-4 {
            font-size: 21px;
        }

        &.text__paragraph-default {
            font-size: 16px;
        }

        &.text__paragraph-small {
            font-size: 12px;
        }

        font-weight: 400;
    }

    color: $grey-5;
}

.size {
    &.size__width-5 {
        width: 5%;
    }
}